// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=PT+Mono:400,700");

// Define fonts for body and headers
$body-font: "PT Mono", "sans-serif";
$headers-font: "Brown-Bold";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Brown-Bold";
  src: font-url('Brown-Bold.ttf');
  src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
       font-url('FontFile.woff') format('woff'),
       font-url('FontFile.ttf') format('truetype')
}
$my-font: "Brown-Bold";
