.dashboard-actions {
  display: flex;
  justify-content: center;
}

@media(min-width: 992px) {
  .dashboard-actions {
    justify-content: flex-end;
  }
}

.myrecipe-card-subtitle {
  // padding-left: 0.25rem !important;
  // padding-top: 8px;
  padding: 8px 0 0 8px;
  font-size: 13px;
}
