.edit-form {
  display: flex;
  justify-content: space-between;
}

.recipe-header {
  margin-top: 50px;
  margin-bottom: 60px;
}

.form-subtitle {
  text-align: center;
  max-width: 555px;
  margin: auto;
  // display: flex;
  .recipe_subtitle {
    margin: auto;
  }
}

.form-photo-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.form-photo {
  margin-top: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  width:555px;
  p {
    margin-right: 75px;
    // margin-left: 165px;
  }
}

.form-servings-wrapper {
  margin-top: 50px;
}

.form-servings {
  max-width: 555px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  p {
    margin-top: 7px;
    margin-right: 20px;
  }
}

.form-description-wrapper {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-timing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .form-group {
    flex: 1 1 30%;
    margin: 0 10px;
  }
}

@media(max-width: 992px) {
  .form-timing {
    flex-direction: column;
    .form-group {
      width: 80%;
    }
  }
}

.ingredients-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  .ingredients-tags {
    display: flex;
    border: #FEF475 solid 1px;
    padding: 0px 10px;
    margin: 0px 10px;
  }
}

.btn-timing {
  padding: 5px 10px;
  margin: 15px 0 30px 10px;
}

.btn-doses {
  padding: 5px 10px;
  margin: 0px 0 20px 10px;
}

.edit-recipe-division {
  margin: 30px 0px;
  border-bottom: 2px dotted $primary;
  // &:last-of-type {
  //   border-bottom: none;
  // }

}

.step-title {
  margin: 25px 0px 15px 0px;
  position: relative;
  .delete-step-button {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 20px;
  }
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.dose-ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.form-new-dose {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .form-group {
    flex: 1 1 20%;
    margin: 0 20px 0 0;
  }
  .btn-new-dose {
    padding: 5px 10px;
    margin: auto 0 0px 10px;
  }
}

.step-utensils-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.steps-utensils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.utensil {
}

.form-new-utensil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .form-group {
    flex: 1 1 20%;
    margin: 0 20px 0 0;
  }
  .btn-new-dose {
    padding: 5px 10px;
    margin: auto 0 0px 10px;
  }
}


.step-content {
  margin: 30px 0px;
}

.ingredient-name {
  width: 100px;
  text-align: left;
}


.edit-ending-button {
  margin-bottom: 100px;
}

.edit-actions {
  margin-bottom: 30px;
  padding: 15px;
  background-color: $light-gray;
  border: 2px solid $primary;
  .link-to-new-changes-proposal {
    padding: 10px;
    border: 2px solid $primary;
    background-color: $glitter;
    &:hover {
      transition-duration: 250ms;
      transform: scale(1.05);
    }
    a {
      // color: $white;
      text-decoration: none;
      h5 {
        margin-bottom: 0;
      }
    }
  }
}
