.connexion-bar {
  position: absolute;
  right: 10px;
  top: 20px;
    .btn {
      color: white;
      font-size: 20px;
      font-weight: bolder;
      margin-right: 10px;
      // background-color: $sunny;
     &:hover {
      color: white;
      border-top: solid 2px white;
      border-bottom: solid 2px white;
    }
  }
}

.banner {
  position: relative;
  .body-banner {
    h2 {
      font-size: 50px;
    }
  }
}

