.connexion-bar {
  position: absolute;
  right: 10px;
  top: 20px;
    .btn {
      color: white;
      font-size: 20px;
      margin-right: 10px;
     &:hover {
      color: white;
      border-top: solid 2px white;
      border-bottom: solid 2px white;
    }
  }
}
