.container-show {
  margin-top: 40px;
}

.show-recipe-header {
  position: relative;
  margin-bottom: 20px;
}

.recipe-photo {
  background-size: cover;
  height: 80vh;
  width: 100%;
  min-height: 500px;
  position: relative;
}

.recipe-title-card {
  background-color: $white;
  padding: 20px 25px;

  h5 {
    margin-bottom: 0;
  }
}

@media(min-width: 992px) {
  .recipe-title-card {
    position: absolute;
    right: 0;
    top: 55%;
    width: 40%;
  }
  .recipe-photo {
    width: 80%;
  }
}

.recipe-date {
  position: absolute;
  bottom: 0;
  right: 15px;
  line-height: 1;
}

.recipe-division {
  padding: 20px 15px;
  margin: 15px 0;
  background-color: $white;
  border-bottom: 2px dotted $primary;
  &:last-of-type {
    border-bottom: none;
  }
}

.author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h5 {
    margin-bottom: 0;
  }

  .author-name {
    margin-right: 10px;
  }
}

.add-changes-proposal{
  font-size: 15px;
  padding: 5px;
  margin-top: 10px;
  background-color: $info;

  opacity: 0.8;
  display: inline-block;
  &:hover {
    transition-duration: 250ms;
    transform: scale(1.05);
    opacity: 1;
  }
  a {
    text-decoration: none;
  }
}

.timing {
  p {
    margin-bottom: 0;
  }
}

table {
  width: 100%;
  .dose {
     vertical-align: top;
  }
}
.amount {
  width: 30%;
}
.step {
  margin-top: 30px;
  border-bottom: 2px solid $primary;
  &:last-of-type {
    border-bottom: none;
  }
  padding-bottom: 20px;
}

.back-to-original-link{
  &:hover {
    transition-duration: 250ms;
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
  }
  .back-to-original-recipe-text {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    background-color: $info;
    border: 3px solid $primary;
  }
}

.recipe-variants {
  padding: 15px;
  margin: 15px 0;
  background-color: $secondary;
}

.variant-card {
  background-color: $white;
  padding: 15px 15px;
  margin-top: 15px;
  span.variant-span {
    background-color: $secondary;
  }
  &:hover {
    transition-duration: 250ms;
    animation-timing-function: ease-in-out;
    transform: scale(1.03);
  }
}


.upvote {
  margin-bottom: 5px;
}

.hidden {
    display: none;
  }

.variant-header {
  display: flex;
  justify-content: space-between;
  align-items : center;
  text-align: left;
}

.add-variant {
  opacity: 0.7;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  &:hover {
    transition-duration: 250ms;
    transform: scale(1.05);
    opacity: 1;
  }
  a {
    text-decoration: none;
  }
  span {
    line-height: 1;
    background-color: #FEF475;
    padding: 4px 8px 3px 8px;
    border-radius: 50%;
    margin-right: 15px;
  }
}
.variant-margin-top {
  margin-top: 30px;
}
.btn-upvote {
  position: absolute;
  background-color: $info;
  color: $primary;
  padding: 5px 10px;
  right: 15px;
  bottom: 10px;

  &:hover {
    transition-duration: 250ms;
    animation-timing-function: ease-in-out;
    transform: scale(1.05);
    border: 1px solid $primary;
    opacity: 1;
  a {
    text-decoration: none;
  }
  }

}
