<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="recipe-header">
        <div class="recipe-photo">
          <div class="tags-list">
            <span>Végétarienne</span>
            <span>Sans gluten</span>
          </div>
        </div>
        <div class="recipe-title-card">
          <h2>velouté de potiron et carottes</h2>
          <h5 style="opacity: 0.5;">originale</h5>
        </div>
        <div class="recipe-date">23 mars 2019</div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
       <div class="recipe-division recipe-author-card">
          <div class="recipe-description">
            <p>“ Avec cette recette, vous pouvez célébrer la transition de l'Hiver au Printemps de façon savoureuse. L'amertume de la noix et la ricotta forment un duo parfait, avec une note de basilic et de la purée de tomate pour adoucir l'ensemble. En fonction du moment de la journée vous apprécierez d'accompagner ce plat d'un verre de vin rouge. Cependant, la meilleure partie est de racler le reste de pesto avec une tranche de pain ciabatta !  ”</p>
          </div>
          <div class="author">
            <div class="author-name"><h5>- par Laura Péli</h5></div>
            <div class="author-avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %></div>
          </div>
        </div>
        <div class="recipe-division timing">
          <div class="row text-center">
            <div class="col-sm">
              <p>
                15 min.
                <br>
                Préparation
              </p>
            </div>
            <div class="col-sm">
              <p>
                1 h
                <br>
                Cuisson
              </p>
            </div>
            <div class="col-sm">
              <p>
                -
                <br>
                Repos
              </p>
            </div>
          </div>
        </div>
        <div class="recipe-division ingredients">
          <h5>Ingrédients</h5>
          <p><strong>Portions 4</strong></p>
          <table>
            <tbody>
              <tr>
                <td class="amount">2</td>
                <td>bananes coupées en rondelles</td>
              </tr>
              <tr>
                <td class="amount">225 mL</td>
                <td>lait d'amande non sucré</td>
              </tr>
              <tr>
                <td class="amount">3 c. à soupe</td>
                <td>racine de curcuma râpée</td>
              </tr>
              <tr>
                <td class="amount">3 poignées</td>
                <td>feuilles d'épinards</td>
              </tr>
              <tr>
                <td class="amount">5</td>
                <td>dattes</td>
              </tr>
              <tr>
                <td class="amount"></td>
                <td>sel</td>
              </tr>
              <tr>
                <td class="amount"></td>
                <td>poivre</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="recipe-division utensils">
          <h5>Ustensils</h5>
          <p>four, saladier, fouet, blender</p>

        </div>
        <div class="recipe-division instructions">
          <h5>Instructions</h5>
          <div class="step">
            <p><span style="margin-bottom: 2px;"><strong>Etape 1/3</strong></span>
              <br>
              <i class="fas fa-utensil-spoon"></i> four
            </p>
            <p>
              Préchauffez le four à  150°C. Chemisez une grande plaque à four de papier sulfurisé.
            </p>
          </div>
          <div class="step">
            <p><strong>Etape 2/3</strong>
              <br>
              <i class="far fa-lemon"></i> 3 c. à soupe racine de curcuma râpée - sel - poivre
              <br>
              <i class="fas fa-utensil-spoon"></i> saladier - fouet
            </p>
            <p>
              Mélangez tous les ingrédients secs avec un fouet dans un saladier.
            </p>
          </div>
          <div class="step">
            <p><strong>Etape 3/3</strong>
              <br>
              <i class="far fa-lemon"></i> 2 bananes coupées en rondelles - 225 mL lait d'amande non sucré - 3 poignées feuilles d'épinards - 5 dattes
              <br>
              <i class="fas fa-utensil-spoon"></i> blender
            </p>
            <p>
              Mixer les bananes, les feuilles d'épinards et les dattes dans un blender.
            </p>
          </div>

        </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="recipe-variants">
        <h5 class="text-center">Tester une variante de la recette</h5>
        <div class="tags-variants">
          <span class="background-white active">végétarienne</span>
          <span class="background-white">Sans gluten</span>
          <span class="background-white">+ rapide</span>
          <span class="background-white">- de matériel</span>
          <span class="background-white active">+ légère</span>
          <span class="background-white">ss sucre ajouté</span>
          <span class="background-white">sans lactose</span>
        </div>
        <div>
          <div class="variant-card">
            <div class="variant-header">
              <div class="variant-subtitle"><h5>Allégée en sucre</h5></div>
              <div class="author-avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %></div>
            </div>
            <i class="fas fa-arrow-up"></i> 12
            <div class="tags-variants">
              <span class="variant-span">+ légère</span>
              <span class="variant-span">ss sucre ajouté</span>
              <span class="variant-span">sans lactose</span>
            </div>
          </div>
          <div class="variant-card">
            <div class="variant-header">
              <div class="variant-subtitle"><h5>Végétarienne avec de l'huile d'olive</h5></div>
              <div class="author-avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %></div>
            </div>
            <i class="fas fa-arrow-up"></i> 5
            <div class="tags-variants">
              <span class="variant-span">végétarienne</span>
              <span class="variant-span">sans gluten</span>
            </div>
          </div>
        </div>
      </div>
      <div class="add-variant">
        <h5><span>+</span>Créer une nouvelle variante</h5>
      </div>
    </div>
   </div>
</div>

