<div class='wrapper'>
  <div class="banner d-flex align-items-center vh-100" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "banner.jpg" %>);">
    <div class="container text-align">
      <div class="body-banner">
        <div class="col-sm-12 col-md-8">
        <h1>COOKING LAB</h1>
        <p> Expérimentez autour d'une recette</p>
        </div>
        <div class="connexion-bar">
          <% unless user_signed_in? %>
          <span class="background-yellow"><%= link_to 'Se connecter', new_user_session_path, class: 'btn' %></span>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= link_to 'Voir les recettes', recipes_path, class: 'btn btn-info font-weight-bold' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
