.home-logo {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  h5 {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}
