.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px dotted #FFE900;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  img {
    width: 40px;
  }
}

.logotype {
  display: flex;
  align-items: center;
  .logotype-title {
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

.left-side {
  display: flex;
  align-items: center;
}

.link-recipe {
  margin-top: 17px;
  margin-left: 60px;
}

.nav-link {
  border-bottom: 2px solid $white;
  &:hover {
    border-bottom: 2px solid $middle_yellow;
  }
}
