// Checkboxes design

.photo-upload-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  .recipe-title-input-box {
    flex: 1 0 auto;
    margin: 0 30px;
  }
  .photo-upload-input-box {
    margin: 0 30px;
  }
  .photo-preview-box {
    margin: 0 30px 1rem 30px;
  }
}

.tag-choices {
  display: flex;
  flex-wrap: wrap;
}

.tag-choice {
  background: $sunny;
  padding: 13px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  border: 2px solid $white;
  margin-right: 10px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $sunny;
  opacity: 1;
  border: 2px dotted $primary;
  }
}

.text-area-description {
  position: relative;
}

.quote-icon-open {
  position: absolute;
  bottom: 285px; left: 200px;
  font-size: 25px;
}

.quote-icon-close {
  position: absolute;
  bottom: 223px; right: 200px;
  font-size: 25px;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  margin-bottom: 0px !important;
}
