<%= simple_form_for([:owner, step, StepUtensil.new], remote: true, html: { id: "new-step-utensil-#{step.id}" }) do |new_step_utensil_form|%>
  <div class="form-new-utensil">
    <div>
      <%= new_step_utensil_form.association :utensil, label: false, input_html: { class: 'select2', id: "new_utensil_step_#{step.id}" } %>
    </div>
    <div class="utensil-add-button">
      <%= new_step_utensil_form.submit '+ Ajouter', class: "btn btn-secondary btn-new-dose js-add-btn" %>
    </div>
  </div>
<% end %>
